@media (min-width: 105ch) {
  .landerPage > .content {
    height: 100%;
    gap: 4ch;
    padding: 0 4ch;
  }
}

.stylize {
  border: 2px solid rgb(52, 97, 46);
  border-radius: 4px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
}
