.landerPage > .content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
.landerPage .illustrationContainer {
  max-width: 55ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2ch;
}

.landerPage .salonIllustration {
  max-width: 70ch;
  width: 100%;
  display: block;
}

.conversationBubble {
  position: relative;
  background-color: var(--medium-yellow);
  width: 34ch;
  padding: 1ch;
  z-index: 1;
  color: var(--light-green);
}

.landerPage .logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landerPage .logo {
  font-size: 2.5rem;
  color: var(--strong-green);
  font-family: "PixelifySansSemiBold", sans-serif;
  text-align: center;
  margin-top: 1ch;
}

.landerPage .slogan {
  color: var(--light-green);
  font-size: 1.1rem;
  text-align: center;
}

.landerPage > .content button {
  margin-top: 3ch;
}
